.container {
  color: midnightblue;
  text-shadow: 3px 2px #b3d9ff;
  font-size: 2vw;
}

body {
  background-color: #e6f2ff;
}


body {
 background-image: url("https://media.istockphoto.com/photos/ice-blue-background-picture-id627728222?k=20&m=627728222&s=170667a&w=0&h=ztNjk1-zEpecQF8bdqSGooq64CzN3KuikB_bOU_56g0=");
}

.inside {
  background-color: white;
  margin: 200px;
}
