.top {
  background-image: url('https://st.depositphotos.com/2944235/3767/i/600/depositphotos_37670251-stock-photo-ice-background.jpg');
}

.logo {
  border: 5px solid black;
}

.ftlogo{
    text-align: center;
    margin-top: 100px;
    margin-left: 180px;
}


body {
  background-color: #80d4ff;
}

h1 {
  color: white;
  text-shadow: 3px 2px midnightblue;
  font-size: 42px;
}

h2 {
  color: midnightblue;
  text-shadow: 3px 2px lightblue;
  font-size: 42px;
}

.top {
  border: 5px solid black;
}

.navtext {
  color: white;
  text-shadow: 3px 2px midnightblue;
  font-size: 2vw;
}

tr {
  border: 5px solid white;
  background-color: midnightblue;
  color: lightblue;
}
